{{ define "main" }}
<header>
  <!-- Background image -->
  <div class="text-center bg-image" id="header-bg-image">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.5);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Pittsburgh Curling Club</h1>
          <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-outline-light btn-lg m-2" href="#!" role="button">Learn to Curl</a>
            <a class="btn btn-outline-light btn-lg m-2" href="#!" role="button">Events</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<main>
  <section class="divider py-5">
    <div class="container-fluid">
      <div class="row justify-content-center ">
        <div class="col-md-3 text-end">
          <p>
            Sign up to our email list to be notified of upcoming Learn-to-Curl opportunities
          </p>
        </div>
        <div class="col-md-3">
          {{- partial "mailing_list.html" . -}}
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}