{{ define "main" }}
<header>
  <!-- Background image -->
  <div class="text-center bg-image" id="header-bg-image">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Pittsburgh Curling Club</h1>
          <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-outline-light btn-lg m-2" href="/learn-to-curl" role="button">Learn to Curl</a>
            <a class="btn btn-outline-light btn-lg m-2" href="/members" role="button">Memberships</a>
            <a class="btn btn-outline-light btn-lg m-2" href="/group-events" role="button">Bonspiels</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<main>
  <section class="bg-lighter py-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-3 text-end">
          <p>
            Sign up to our email list to be notified of upcoming Learn-to-Curl opportunities
          </p>
        </div>
        <div class="col-md-3">
          {{- partial "mailing_list.html" . -}}
        </div>
      </div>
    </div>
  </section>
  {{ .Content }}
</main>
{{ end }}