body {
  margin-bottom: 50px;
  clear: both;
}

footer {
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100%;
}

#header-bg-image {
  background-image: url("../img/header-bg2.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;

  .mask {
    background-color: rgba(0, 0, 0, 0.5);
    height: 400px;
  }
}


.bg-darker {
  background-color: rgba(155, 155, 155, 0.5);
}

@media (max-width: 768px) {
  .copyright-md {
    display: none;
  }
}